# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true

[*.props]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2

[*.json]
# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = crlf
insert_final_newline = true

# C# files
[*.cs]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = crlf
insert_final_newline = true
